<div class="container mt-5">
  <h1>Alternatif</h1>

  <button class="btn btn-secondary btn-block mt-5 mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Tambah Data
  </button>

  <div class="collapse mb-3" id="collapseExample">
    <div class="card card-body py-3">

      <form action="/alternatif" method="post">
        <div class="d-flex justify-content-between">
          <div class="form-group" style="width: 18%;">
            <label for="alternatif">Alternatif:</label>
            <input type="text" class="form-control" name="alternatif" required>
          </div>
          <div class="form-group" style="width: 78%;">
            <label for="keterangan">Keterangan:</label>
            <input type="text" class="form-control" name="keterangan" required>
          </div>
        </div>
        
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Kirim Data</button>
        </div>
      </form>

      <div class="alert alert-primary text-center mt-3" role="alert">
        Jangan lupa tambah nilai matriks - Dihalaman <strong>Matriks!</strong>
      </div>

    </div>
  </div>

  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Alternatif</th>
        <th scope="col">Keterangan</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i=0; i < alternatif.length; i++) { %>
        <tr>
          <th scope="row">
            <%= i + 1 %>
          </th>
          <td>
            <%= alternatif[i].alternatif %>
          </td>
          <td>
            <%= alternatif[i].keterangan %>
          </td>
          <td class="text-center">
            <form action="/alternatif/delete/<%= alternatif[i].id %>" method="post">
                <button type="submit" class="btn badge badge-danger">Hapus</button>
            </form>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>

</div>