<div class="container mt-5">
    <!-- <h1>HOME</h1> -->
    <h1 class="text-center">Evaluation based on Distance from Average Solution <br>(EDAS)</h1>
    <p class="my-5">
        Metode EDAS (Evaluation based on Distance from Average Solution) adalah suatu pendekatan dalam Sistem Pendukung Keputusan (SPK) 
        yang dirancang untuk membantu pengambilan keputusan dalam situasi di mana sejumlah alternatif harus dinilai berdasarkan sejumlah kriteria tertentu. 
        Metode ini menekankan pada perhitungan jarak antara setiap alternatif dengan solusi rata-rata, dengan tujuan akhir menghasilkan peringkat alternatif 
        yang dapat membantu pengambil keputusan dalam menentukan solusi terbaik.
    </p>
    <h2>Team</h2>
    <h4 class="ml-5">- 05_Dimas Putra Anhar (BackEnd)</h4>
    <h4 class="ml-5">- 19_Muhammad Sabilar Rosyad (FrontEnd)</h4>
    <h2 class="mt-5">Technology</h2>
    <div class="d-flex justify-content-center">
        <img class="mx-5" src="image/html.png" alt="" style="width: 13%;">
        <img class="mx-5" src="image/bs.png" alt="" style="width: 13%;">
        <img class="mx-5" src="image/js.png" alt="" style="width: 13%;">
    </div>
    <div class="mt-5 d-flex justify-content-center">
        <img class="mx-5" src="image/node.png" alt="" style="width: 13%;">
        <img class="mx-5" src="image/ejs.png" alt="" style="width: 13%;">
        <img class="mx-5" src="image/express.png" alt="" style="width: 13%;">
    </div>
    <h2 class="mt-5">Journal</h2>
    <!-- <iframe src="document/Journal EDAS Method with ROC.pdf" type="application/pdf" frameborder="0" style="width: 100%;"></iframe> -->
    <object data="document/Journal EDAS Method with ROC.pdf" type="application/pdf" width="100%" height="700px" class="mt-2">
        <p>Unable to display PDF file. <a href="document/Journal EDAS Method with ROC.pdf">Download</a> instead.</p>
    </object>
</div>