<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Kriteria</title>
</head>
<body>
    <form action="kriteria.html" method="post">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Form Tambah Kriteria</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="kode_kriteria">Kode Kriteria</label>
                            <input type="text" class="form-control" id="kode_kriteria" name="kode_kriteria">
                        </div>
                        <div class="form-group">
                            <label for="nama_kriteria">Nama Kriteria</label>
                            <input type="text" class="form-control" id="nama_kriteria" name="nama_kriteria">
                        </div>
                        <div class="form-group">
                            <label for="bobot">Jumlah Bobot</label>
                            <input type="text" class="form-control" id="bobot" name="bobot">
                        </div>
                        <div class="form-group">
                            <label for="jenis_kriteria">Jenis Kriteria</label>
                            <input type="text" class="form-control" id="jenis_kriteria" name="jenis_kriteria">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
